
language: objective-c

osx_image: xcode61

sudo: required

before_install:
- chmod a+x ./Scripts/install.sh
- chmod a+x ./Scripts/build.sh

rvm:

- 2.1.2

install:

- ./Scripts/install.sh

script:

- ./Scripts/build.sh
